.nav {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  align-items: flex-start;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: 20px;
  align-items: center;
}

.nav__link {
  color: black;
  text-decoration: none;
  transition: opacity 0.5s ease;
}

.nav__link:hover {
  opacity: 0.5;
}
