.recipes {
  background-color: #0a2750;
  background-image: url("./../images/images/background_recipes.svg") no-repeat
    center/cover;
  margin: 0;
  padding: 100px 80px 215px;
}

.recipes__title {
  margin: 0 0 24px;
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 0 0 80px;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  list-style-type: none;
  margin-bottom: 24px;
  padding: 0;
  margin: 0;
}

.recipes__iframe {
  height: 273px;
  width: 480px;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
